h1 {
  font-size: 40px; 
}

#header {
  text-align: center;
  margin-top: 40px; 
}

.q-cont {
  margin: 0 auto; 
  width: 75%; 
  border: 1px solid black; 
  padding: 20px
}

#q-list {
  list-style: none;
}
